html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
}
.main {
  width: 100%;
  min-width: 1100px;
}

  .img1 {
    width: 100%;
    /*position: absolute;*/
    min-width: 1100px;
    z-index: 10;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  .login {
    width: 100%;
    /*position: absolute;*/
    top: 20px;
    color: white;
    z-index: 100;
    font-size: 20px;
    font-family: Poiret One;

  }
    #signIn {
      margin-right: 35px;
    }
    .titleLarge {
      position: absolute;
      top: 220px;
      width: 100%;
      min-width: 1100px;
      z-index: 40;
      color: white;


    }
      #my {
        /*position: absolute;*/
        /*top: 220px;*/
        /*width: 100%;*/
        /*min-width: 1100px;*/
        z-index: 20;
        font-size: 27px;
        color: white;
        font-family: Poiret One;
        text-shadow: 0 2px 0 black;


        /* Safari rotate div kit from css-tricks*/
        -webkit-transform: rotate(-90deg);
        /* Firefox */
        -moz-transform: rotate(-90deg);
        /* IE */
        -ms-transform: rotate(-90deg);
        /* Opera */
        -o-transform: rotate(-90deg);
        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      }
      #tuition {
        /*position: absolute;*/
        /*top: 220px;*/
        /*width: 100%;*/
        /*min-width: 1100px;*/
        z-index: 20;
        font-size: 270px;
        color: white;
        font-family: Poiret One;
        text-shadow: 0 2px 0 black;

      }
      #plan {
        /*position: absolute;*/
        /*top: 220px;*/
        /*width: 100%;*/
        /*min-width: 1100px;*/
        z-index: 20;
        font-size: 27px;
        color: white;
        font-family: Poiret One;
        text-shadow: 0 2px 0 black;


        /* Safari rotate div kit from css-tricks*/
        -webkit-transform: rotate(90deg);
        /* Firefox */
        -moz-transform: rotate(90deg);
        /* IE */
        -ms-transform: rotate(90deg);
        /* Opera */
        -o-transform: rotate(90deg);
        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      }
    #title {
      color: white;
      width: 100%;
      min-width: 1100px;
      z-index: 20;
      display: flex;


    }

      #topTitle {
        font-size: 160px;
        font-family: Poiret One;
        text-shadow: 0 2px 0 black;
      }
      .subTitle {
        margin-top:15px;
        font-size: 32px;
        font-family: Poiret One;
        text-shadow: 0 2px 0 black;

      }
